:root{
	--dark-color:#19283f;
}
body{
	font-family:"Roboto",sans-serif;
	
}
/* start nav */

.navbar{
	
	background-color:var(--dark-color);
	
	
	
	
	
}









/*end nav */